
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
body{ 
	  background-color:grey;
	  color:white; 
	  font-style:italic; 
	  font-family:sans-serrif 
	  }
hr{
	  color:black;
	}
	  
header{
	  text-align: center;
	  background-color:grey;
	  font-size:25px;
	}
h1{ 
	  text-align: center; 
	  color:white; 
	  font-size:55px;
	  background-color: grey;
	  } 
h2{
	font-style:times new roman;
	}
div{ 
	  text-align:center; 
	  font-size:25px; 
	  font-style:italic; 
	  background-color:grey; 
	  } 
#Reason1{ 
	  color:#8b0000; 

	  } 
#Reason2{ 
	  color:green;
  
	  } 
#Reason3{ 
	  color:gold; 

	  } 
#Reason4{
	  color:#40e0d0;

}
footer{ 
	  text-align:left; 
	  color:green;
	  }